* {
  margin: 0;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: #ffffff;
  padding: 1em;
}

main {
  background-color: #c79de3;
  min-width: 90%;
  margin-inline: auto;
  margin-block: 1em;
  border-radius: 1em;
  padding: 1em;
}
